.profile
	position: fixed
	top: 9vh
	left: 0
	right: 0
	margin: 0 auto
	&__img-wrapper
		display: flex
		justify-content: center
	&__img
		height: 40vh
		width: 40vh
		border-radius: 50%
	&__name-wrapper
		margin-top: 3vh
		display: flex
		justify-content: center
	&__name-subwrapper
		position: relative
	&__name
		position: relative
		display: flex
		justify-content: center
		align-items: center
		width: 28vh
		padding: 0 20px
		height: 8.5vh
		font-weight: 700
		font-size: 4vh
		color: #fff
		&::before
			position: absolute
			content: ""
			inset: 0
			border: 2px solid transparent
			border-radius: 5vh
			background: linear-gradient(45deg, rgb(180, 6, 180) 0%, $main-color 100%) border-box
			mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0)
			mask-composite: xor
			mask-composite: exclude
	&__exit-wrapper
		height: 4vh
		position: absolute
		top: 50%
		right: -5.5vh
		transform: translateY(-50%)
	&__exit
		height: 100%

@media (max-width: 1024px)
	.profile
		top: 9vw
		&__img
			height: 40vw
			width: 40vw
		&__name-wrapper
			margin-top: 3vw
		&__name
			width: 28vw
			height: 8.5vw
			font-size: 4vw
			&::before
				border-radius: 5vw
		&__exit
			height: 5vw
			right: -6.5vw


	