.album
	&__card
		position: fixed
		top: 9vw
		left: 0
		right: 0
		margin: 0 auto
		box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2)
		transition: 0.5s all
		&:active
			transform: scale(1.1)
			transition: 0.5s all
	&__exit
		padding: 10px
		height: 60px
		width: 100%
		position: fixed
		top: 0
		left: 0
		/* background: linear-gradient(90deg, rgba(24, 24, 54, 0) 0%, rgba(11, 17, 32, 0) 100%) */
		z-index: 5
		&-icon
			height: 100%

@media (max-width: 1024px) 
	.album
		&__card
			top: 9vh
@media (max-width: 576px) 
	.album
		&__exit
			height: 50px

